<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>

  <body>
    <p> Sign Up </p>
    <form action="/sign_up" method="post">
        <label for="name"> Name </label>
        <input type='text' name="name" placeholder="Name">

        <label for="email"> Email </label>
        <input type='text' name="email" placeholder="Email">

        <label for="password"> Password </label>
        <input type='text' name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
